streamlit
yt-dlp
openai-whisper
torch
langchain
langchain-core
langchain-community
langchain-mistralai
mistralai
chromadb
sentence-transformers
huggingface-hub
transformers
reportlab
fpdf2
python-dotenv
pydub
sarvamai